h1 {
  margin: 0;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffde00;
  margin: 0px;
  padding: 0px;
}
.Header .logo-title {
  display: flex;
  align-items: center;
  padding: 4px;
}
.Header .logo {
  width: 40px;
  height: 40px;
}
.Header .title {
  height: 50px;
}

.Header .profile-menu {
  display: flex;
  align-items: center;
}
.Header .profile {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 8px;
}
.Header .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.dropdown {
  position: relative;
  display: inline-block;
  transition-property: background-color;
  transition-duration: 1s;
}
.fa-bars {
  font-size: 47px;
  margin: 18px;
}
.drop-content a {
  padding: 14px;
  margin: 16px;
  text-decoration: none;
  border-bottom: solid #fff8dc 1px;
  color: black;
  display: block;
}
.drop-content a:hover {
  color: #fff8dc;
}
.button {
  padding: 4px;
  font-weight: bold;
  border: solid black 1px;
}

.hidden {
  display: none;
  position: absolute;
  /* background-color: #0075be;
  height: 0px;
  right: 0;
  transition-property: height;
  transition-duration: 1s; */
}

.dropdown:hover {
  background-color: #0075be;
  color: #fff8dc;
}

.drop-content {
  display: block;
  position: absolute;
  float: inline-end;
  height: fit-content;
  background-color: #0075be;
  width: 180px;
  padding: 10px;
  right: 0;
}

@media only screen and (max-width: 350px) {
  body {
    background-color: lightblue;
  }
}