h1,
p {
  padding: 0;
  margin: 0;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffde00;
  margin: 0px;
  padding: 0px;
  margin-bottom: 1.5em;
}
.Header .logo-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4px;
  max-width: 400px;
}
.Header .logo {
  width: 40px;
  height: 40px;
}
.Header .title {
  width: 80%;
}

.Header .profile-menu {
  display: flex;
  align-items: center;
}
.Header .profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 8px;
}
.Header .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 6px;
}

.Header .burger {
  display: none;
  padding: 4px;
  font-weight: bold;
  background-color: #3b4cca;
  border: none;
  border: 2px solid black;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  color: #ffde00;
  margin: 1.5em;
  box-shadow: 0em 0.6em black, 0 0.9em rgba(0, 0, 0, 0.4);
}

.Header .fa-bars {
  font-size: 30px;
  margin: 10px;
}

.Header .desktop-content {
  display: flex;
  align-items: center;
}

.Header .desktop-content a,
.Header .desktop-content button {
  text-decoration: none;
  padding: 8px;
  font-style: 12px;
}
.Header .desktop-content a {
  font-weight: bold;
  color: black;
  border-right: solid black 1px;
}
.Header .desktop-content a:hover {
  color: #0075be;
}
.Header .desktop-content button {
  margin: 8px;
}

.Header button {
  padding: 4px;
  font-weight: bold;
  background-color: #3b4cca;
  border: none;
  border: 2px solid black;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  color: #ffde00;
  margin: 1.5em;
  box-shadow: 0em 0.6em black, 0 0.9em rgba(0, 0, 0, 0.4);
}
.Header button:active {
  background: #3b4cca;
  color: #ffde00;
  box-shadow: none;
  transform: translateY(0.6em);
}

@media only screen and (max-width: 1000px) {
  .Header {
    background-color: #ffde00;
  }
  .title {
    display: none;
  }

  .Header .burger {
    display: flex;
  }
  .Header .burger:hover {
    cursor: pointer;
  }
  .hidden {
    display: none;
    position: absolute;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    transition-property: background-color;
    transition-duration: 1s;
  }
  .fa-bars {
    font-size: 47px;
    margin: 18px;
  }
  .Header .desktop-content {
    display: none;
  }
  .mobile-content a {
    padding: 14px;
    margin: 16px;
    text-decoration: none;
    border-bottom: solid #fff8dc 1px;
    color: black;
    display: block;
  }
  .mobile-content a:hover {
    color: #fff8dc;
  }
  .mobile-content {
    margin-top: 10px;
    display: block;
    position: absolute;
    float: inline-end;
    height: fit-content;
    background-color: #3b4cca;
    width: 180px;
    padding: 10px;
    right: 0;
    border-radius: 0.5rem;
    border: 2px solid #ffde00;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2);
  }

  .Header .burger:active {
    background: #3b4cca;
    color: #ffde00;
    box-shadow: none;
    transform: translateY(0.6em);
  }
  .Header .logo {
    width: 40px;
    height: 40px;
    margin-left: 0.7em;
  }
}
