.Homepage {
  display: flex;
  justify-content: center;
}

.Homepage h3 {
  font-family: "Press Start 2P", cursive;
  font-size: 100%;
}

.Homepage .quiz-container {
  border: 1px black solid;
  width: 200px;
  box-shadow: -5px 5px 5px grey;
}

/* .Homepage button {
  margin: 1px;
} */

.Homepage .quiz-container :hover {
  transform: rotateY(180deg);
}

.flip-card {
  background-color: transparent;
  width: 288px;
  height: 400px;
  perspective: 1000px;
}

.Homepage .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2);
  border-radius: 11px;
}

.Homepage .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.Homepage .flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.Homepage .flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 11px;
}

.Homepage .flip-card-back {
  background-color: #cc0000;
  color: black;
  transform: rotateY(180deg);
  border-radius: 11px;
}

.Homepage h3 {
  background-color: white;
  height: 3em;
  margin: 0;
  justify-content: center;
  padding: 20px;
  border-radius: 11px 11px 0px 0px;
}

.Homepage img {
  height: 100%;
  border-radius: 11px;
}

.Homepage ul {
  margin: 5px;
}

.Homepage button {
  padding: 4px;
  font-weight: bold;
  background-color: white;
  border: none;
  border: 2px solid black;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  color: black;
<<<<<<< HEAD
  /* margin: 1px; */
=======
  margin: 8px;
>>>>>>> 527ede1bd52434d8a6ef373010cf6559c480c167
  box-shadow: 0em 0.6em black, 0 0.9em rgba(0, 0, 0, 0.4);
}
.Homepage button:active {
  background: black;
  color: white;
  box-shadow: none;
  transform: translateY(0.6em);
}

<<<<<<< HEAD
@media only screen and (max-width: 1000px) {
  .Homepage .flip-card-back {
    background-color: #cc0000;
    color: black;
    transform: rotateY(0deg);
    border-radius: 11px;
  }
  .Homepage .flip-card:hover .flip-card-inner {
=======
@media only screen and (max-width: 800px) {
  .Homepage .flip-card .flip-card-inner {
>>>>>>> 527ede1bd52434d8a6ef373010cf6559c480c167
    transform: rotateY(0deg);
  }
}
