.ProfileCreator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: cornsilk;
}

.ProfileCreator .element {
  margin: 12px;
}

.ProfileCreator .username input {
  border: solid #0075be 2px;
  border-radius: 4px;
  margin: 4px;
}

.ProfileCreator .file {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 178px;
}
