.Question .pokemon-pic {
  border: #cc0000 10px solid;
  margin: 1.5em;
  width: 20em;
  height: 20em;
}

@media only screen and (max-width: 600px) {
  .Question .pokemon-pic {
    width: 15em;
    height: 15em;
  }
}
