.Quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
}
.Quiz .scoring {
  display: flex;
  flex-direction: column;
}
/* 
.Quiz .scoring {
} */
